<% icons = [
<<<<<<< HEAD
  {name: "smtp", keyword: ""}
=======
  {name: "smtp",       keyword: "" },
>>>>>>> Inserindo ícones do Painel na documentação.
]%>


<% icons.each do |icon| %>
  <span class="box1"><span aria-hidden="true" class="icopanel-<%= icon[:name] %>" data-keyword="<%= icon[:keyword] %>"></span>&nbsp;icopanel-<%= icon[:name] %></span>
<% end %>